version: "2.0"

services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    depends_on:
      - php
    volumes:
      - /volumes/web/certs:/certs
      - /volumes/web/conf:/etc/nginx/conf.d
      - /volumes/web/www:/var/www
    ports:
      - {{ bind_ip }}:443:443
      - {{ bind_ip }}:80:80
{%- for bind in extra_binds %}
      - {{ bind | yaml }}
{%- endfor %}
    networks:
      - backend
      - proxy

  php:
    image: {{ salt.pillar.get('nginx:php_image','php:fpm-alpine') }}
    container_name: php
    restart: unless-stopped
    environment:
      - PLEX_TOKEN={{ salt.pillar.get('nginx:plex_token', '') }}
    working_dir: /var/www
    volumes:
      - /volumes/web/www:/var/www
    networks:
      - backend

  acme:
    image: spritsail/acme.sh
    container_name: acme.sh
    command: daemon
    tty: true
    volumes:
    - /volumes/web/certs/:/acme.sh
    # To allow acme.sh post-renew hooks to restart/reload services
    - /run/docker.sock:/run/docker.sock
{%- for key, val in salt.pillar.get('acme.sh:envvars', {}).items() %}
  {%- if loop.first %}
    environment:
  {%- endif %}
      {{ key | yaml }}: {{ val | yaml }}
{%- endfor %}
    network_mode: bridge
    restart: unless-stopped

networks:
  backend:
  proxy:
