version: '2.0'

services:
  drone:
    image: spritsail/drone
    container_name: drone-server
    volumes:
      - /volumes/drone:/var/lib/drone/
    environment:
      - DRONE_GITHUB_CLIENT_ID={{ github_client_id }}
      - DRONE_GITHUB_CLIENT_SECRET={{ github_client_secret }}
      - DRONE_RUNNER_CAPACITY=1
      - DRONE_REGISTRATION_CLOSED=true
      - DRONE_SERVER_HOST=drone.spritsail.io
      - DRONE_SERVER_PROXY_PROTO=https
      - DRONE_DATABASE_DATASOURCE=/var/lib/drone/drone.sqlite
      - DRONE_STARLARK_ENABLED=true

      # Configuration for remote agents
      - DRONE_AGENTS_ENABLED=true
      - DRONE_RPC_PROTO=https
      - DRONE_RPC_SECRET={{ rpc_secret }}

      # Logging configuration
      - DRONE_LOGS_DEBUG=true
      - DRONE_LOGS_TEXT=true
      - DRONE_LOGS_PRETTY=true
      - DRONE_LOGS_COLOR=true
      - DRONE_WEBHOOK_ENDPOINT=http://drone-notify:5000/hook
      - DRONE_WEBHOOK_SECRET={{ webhook_secret }}
    networks:
      - drone
      - nginx_proxy
    restart: unless-stopped

  drone-notify:
    image: spritsail/drone-notify
    container_name: drone-notify
    volumes:
      - /volumes/drone-notify:/config
    networks:
      - drone
    restart: unless-stopped

networks:
  drone:
  nginx_proxy:
    external: true
