version: '2.0'

services:
  drone:
    image: spritsail/drone
    container_name: drone-server
    depends_on:
      - drone-starlark
    volumes:
      - /volumes/drone:/var/lib/drone/
    environment:
      - DRONE_GITHUB_CLIENT_ID={{ github_client_id }}
      - DRONE_GITHUB_CLIENT_SECRET={{ github_client_secret }}
      - DRONE_RUNNER_CAPACITY=1
      - DRONE_REGISTRATION_CLOSED=true
      - DRONE_SERVER_HOST=drone.spritsail.io
      - DRONE_SERVER_PROXY_PROTO=https
      - DRONE_DATABASE_DATASOURCE=/var/lib/drone/drone.sqlite

      # Configuration for remote agents
      - DRONE_AGENTS_ENABLED=true
      - DRONE_RPC_PROTO=https
      - DRONE_RPC_SECRET={{ rpc_secret }}

      # Starlark conversion plugin
      - DRONE_CONVERT_PLUGIN_ENDPOINT=http://drone-starlark:3000
      - DRONE_CONVERT_PLUGIN_SECRET={{ starlark_secret }}

      # Logging configuration
      - DRONE_LOGS_DEBUG=true
      - DRONE_LOGS_TEXT=true
      - DRONE_LOGS_PRETTY=true
      - DRONE_LOGS_COLOR=true
      - DRONE_WEBHOOK_ENDPOINT=http://drone-notify:5000/hook
    networks:
      - drone
      - nginx_proxy
    restart: unless-stopped

  drone-starlark:
    image: drone/drone-convert-starlark
    container_name: drone-starlark
    environment:
      - DRONE_DEBUG=true
      - DRONE_SECRET={{ starlark_secret }}
    networks:
      - drone
    restart: unless-stopped

  drone-notify:
    image: adamant/drone-notify
    container_name: drone-notify
    volumes:
      - /volumes/drone-notify:/config
    networks:
      - drone
    restart: unless-stopped

networks:
  drone:
  nginx_proxy:
    external: true
