[connection]
# IP or Hostname of the MySQL server (Default: 127.0.0.1)
hostname = quotesdb
# Port of the MySQL server (Default: 3306)
#port = 3306
# Username of the database user (Default: root)
username = {{ mysql_user }}
# Password of the database user
password = {{ mysql_pass }}
# Database to use for the application (Default: QuoteDB)
#database = QuoteDB

[telegram]
# Enable the telegram notifier, sends a message to a specific telegram chat (Default: False)
enabled = True
# API Token of the Bot
token = {{ telegram_token }}
# ID of the User/Group to message
id = {{ telegram_id }}
