version: "3.9"

services:
  postgres:
    image: postgres:alpine
    deploy:
      restart_policy:
        delay: 10s
        window: 10s
    environment:
      PGDATA: /var/lib/postgresql/data
      POSTGRES_DB: guacamole_db
      POSTGRES_PASSWORD: {{ postgres_pw }}
      POSTGRES_USER: guacamole
    volumes:
      - /volumes/guacamole:/var/lib/postgresql/data

  backend:
    image: guacamole/guacd
    deploy:
      restart_policy:
        delay: 10s
        window: 10s

  frontend:
    image: guacamole/guacamole
    deploy:
      restart_policy:
        delay: 10s
        window: 10s
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.guacamole.rule=Host(`guac.adam-ant.co.uk`)"
        - "traefik.http.services.guacamole.loadbalancer.server.port=8080"
    environment:
      GUACD_HOSTNAME: backend
      POSTGRES_DATABASE: guacamole_db
      POSTGRES_HOSTNAME: postgres
      POSTGRES_PASSWORD: {{ postgres_pw }}
      POSTGRES_USER: guacamole
      OPENID_AUTHORIZATION_ENDPOINT: https://authentik.adam-ant.co.uk/application/o/authorize/
      OPENID_CLIENT_ID: {{openid_client }}
      OPENID_ISSUER: https://authentik.adam-ant.co.uk/application/o/guacamole/
      OPENID_JWKS_ENDPOINT: https://authentik.adam-ant.co.uk/application/o/guacamole/jwks/
      OPENID_REDIRECT_URI: https://guac.adam-ant.co.uk/guacamole
    networks:
      - default
      - external


networks:
  external:
    name: network_public
    external: true
