# Still to do:
# NZBGet Master - need a version source without pre-releases
# Iodine IPTables Arg

config:
  access_token: {{ github_token }}

spritsail/nzbhydra:
  args:
    NZBHYDRA_VER:
      url: https://api.github.com/repos/theotherp/nzbhydra2/releases
      structure: 0.tag_name
      human_name: NZBHydra
      strip_front: v
    YQ_VER:
      url: https://api.github.com/repos/mikefarah/yq/releases
      structure: 0.tag_name
      human_name: YQ

spritsail/iodine:
  args:
    IODINE_VER:
      url: https://api.github.com/repos/yarrick/iodine/tags
      structure: 0.name
      human_name: Iodine
      strip_front: v
    ZLIB_VER:
      url: https://api.github.com/repos/madler/zlib/tags
      structure: 0.name
      human_name: ZLib
      strip_front: v

spritsail/beets:
  args:
    BEETS_VER:
      url: https://api.github.com/repos/beetbox/beets/releases
      structure: 0.tag_name
      human_name: Beets
      strip_front: v
    CHROMAPRINT_VER:
      url: https://api.github.com/repos/acoustid/chromaprint/releases
      structure: 0.tag_name
      human_name: Chromaprint
      strip_front: v

spritsail/jackett:
  args:
    JACKETT_VER:
      url: https://api.github.com/repos/Jackett/Jackett/releases
      structure: 0.tag_name
      human_name: Jackett
      strip_front: v

spritsail/nzbget@testing:
  args:
    NZBGET_VER:
      url: https://api.github.com/repos/nzbget/nzbget/releases
      structure: 0.tag_name
      human_name: NZBGet
      strip_front: v

spritsail/sonarr:
  args:
    SONARR_VER:
      url: https://services.sonarr.tv/v1/update/master?version=3&os=linux-musl
      structure: updatePackage.version
      human_name: Sonarr

spritsail/sonarr@beta:
  args:
    SONARR_VER:
      url: https://services.sonarr.tv/v1/update/develop?version=4&os=linux-musl
      structure: updatePackage.version
      human_name: Sonarr

spritsail/radarr:
  args:
    RADARR_VER:
      url: https://radarr.servarr.com/v1/update/master?version=4.0&os=linux&runtime=netcore&arch=x64
      structure: updatePackage.version
      human_name: Radarr

spritsail/radarr@develop:
  args:
    RADARR_VER:
      url: https://radarr.servarr.com/v1/update/develop?version=4.0&os=linux&runtime=netcore&arch=x64
      structure: updatePackage.version
      human_name: Radarr

spritsail/lidarr:
  args:
    LIDARR_VER:
      url: https://api.github.com/repos/lidarr/lidarr/releases
      structure: 0.tag_name
      human_name: Lidarr
      strip_front: v

spritsail/tautulli:
  args:
    TAUTULLI_VER:
      url: https://api.github.com/repos/Tautulli/Tautulli/releases
      structure: 0.tag_name
      human_name: Tautulli
      strip_front: v

spritsail/fivem:
  args:
    DATA_VER:
      url: https://api.github.com/repos/citizenfx/cfx-server-data/commits
      structure: 0.sha
      human_name: CFX-Data
    FIVEM_VER:
      url: https://api.spritsail.io/fivem/release.php
      structure: latest.slug
      human_name: FiveM Hash
    FIVEM_NUM:
      url: https://api.spritsail.io/fivem/release.php
      structure: latest.version
      human_name: FiveM Ver

spritsail/fivem@stable:
  args:
    DATA_VER:
      url: https://api.github.com/repos/citizenfx/cfx-server-data/commits
      structure: 0.sha
      human_name: CFX-Data
    FIVEM_VER:
      url: https://api.spritsail.io/fivem/release.php
      structure: optional.slug
      human_name: FiveM Hash
    FIVEM_NUM:
      url: https://api.spritsail.io/fivem/release.php
      structure: optional.version
      human_name: FiveM Ver

spritsail/plex-media-server:
  args:
    PLEX_VER:
      url: https://api.spritsail.io/plex/release
      structure: version
      human_name: Plex

spritsail/plex-media-server@pass:
  args:
    PLEX_VER:
      url: https://api.spritsail.io/plex/release?pass
      structure: version
      human_name: Plex

