version: '2.0'

services:
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    hostname: Watchtower-{{ grains.host }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_POLL_INTERVAL={{ salt.pillar.get('watchtower:poll_interval', '900') }}
      - WATCHTOWER_CLEANUP={{ salt.pillar.get('watchtower:cleanup', 'true') }}
      - WATCHTOWER_NOTIFICATIONS=shoutrrr
      - WATCHTOWER_NOTIFICATION_URL={{ notification_url }}
      - WATCHTOWER_NOTIFICATION_TEMPLATE={% raw %}{{if .}}<b>Watchtower-{% endraw %}{{ grains.host }}{% raw %}</b>{{println}}{{end}}{{range .}}{{.Message}}{{println}}{{end}}{{end}}{% endraw %}
